<div class="right-container">
  <div class="right-container-nav-bar">
    <div class="navbar-tabs">
      <div class="today" (click)="onTodayClick()" [className]="weather.today ? 'today today-active' : 'today'">Today
      </div>
      <div class="week" (click)="onWeekClick()" [className]="weather.week ? 'week week-active' : 'week'">Week</div>

      <div class="underline"
           [className]="weather.today ? 'underline underline-today' : 'underline underline-week'"></div>


    </div>

    <div class="nav-bar-metric">

      <div class="celsius" (click)="onCelsiusClick()"
           [className]="weather.celsius ? 'celsius celsius-active' : 'celsius'">
        °C
      </div>
      <div class="fahrenheit" (click)="onFahrenheitClick()"
           [className]="weather.fahrenheit ? 'fahrenheit fahrenheit-active' : 'fahrenheit'">
        °F
      </div>
      <div class="profile-image">


        <img src="./images/81307350.jpg" alt="profile"/>
      </div>
    </div>
  </div>
  <div class="right-container-data-box">
    <div class="right-container-week-cards">
      @if (weather.week) {
        @for (card of weather.weekData; track card) {
          <div class="card">

            <div class="card-day">
              {{ card.day }}
            </div>
            <div>
              <img class="card-temp-img" src="{{card.summaryImage}}" alt="">
            </div>
            <div class="card-temp-value">
          <span class="temp-max">
            {{ this.weather.celsius ? card.tempMax : this.weather.celsiusToFahrenheit(card.tempMax) }} °
          </span>
              <span class="temp-min">
            {{ this.weather.celsius ? card.tempMin : this.weather.celsiusToFahrenheit(card.tempMin) }} °
          </span>
            </div>
          </div>
        }
      }
    </div>

    <div class="right-container-today-cards">
      @if (weather.today) {
        @for (card of weather.todayData; track card) {
          <div class="card">
            <div class="card-day">
              {{ card.time }}
            </div>
            <div>
              <img class="card-temp-img" src="{{card.summaryImage}}" alt="">
            </div>
            <div class="card-temp-value">
              {{ this.weather.celsius ? card.temperature : this.weather.celsiusToFahrenheit(card.temperature) }}°
            </div>
          </div>
        }
      }
    </div>

    <div class="right-container-today-highlight">
      <div class="right-container-today-highlight-title">
        Today's Highlights
      </div>

      <div class="right-container-today-highlight-cards">
        <div class="right-container-today-highlight-card">
          <div class="right-container-today-highlight-card-title">
            UV Index
          </div>
          <div class="gauge">
            <div class="gauge__body">
              <div class="gauge__fill">
                <div class="gauge__cover">

                </div>
              </div>
            </div>
          </div>
          <div class="right-container-today-highlight-value">{{weather.todaysHighlight.uvIndex}}</div>
        </div>

        <div class="right-container-today-highlight-card">
          <div class="right-container-today-highlight-card-title">
            Wind Status
          </div>
          <div class="wind-status-value">{{weather.todaysHighlight.windStatus}}<span class="unit">km/h</span></div>
          <div class="wind-status-logo">
            <img src="images/Weather-Icons/imgi_14_dust-wind.svg" alt="">
          </div>
        </div>


        <div class="right-container-today-highlight-card">
          <div class="right-container-today-highlight-card-title">
            Sunrise & Sunset
          </div>
          <div class="sunrise-sunset-value">
            <div class="sunrise">
              <div class="sunrise-img">
                <img src="images/Weather-Icons/imgi_99_sunrise.svg" alt="">

              </div>
              <div class="sunrise-time">
                {{weather.todaysHighlight.sunrise}} AM
              </div>
            </div>
            <div class="sunset">
              <div class="sunset-img">
                <img src="images/Weather-Icons/imgi_100_sunset.svg" alt="">
              </div>
              <div class="sunset-time">
                {{weather.todaysHighlight.sunset}} PM
              </div>
            </div>
          </div>
        </div>

        <div class="right-container-today-highlight-card">
          <div class="right-container-today-highlight-card-title">
            Humidity
          </div>
          <div class="wind-status-value">{{weather.todaysHighlight.humidity}} <sup class="unit">%</sup></div>
          <div class="Humidity-summary">Normal</div>

        </div>

        <div class="right-container-today-highlight-card">
          <div class="right-container-today-highlight-card-title">
            Visibility
          </div>
          <div class="wind-status-value">{{weather.todaysHighlight.visibility}} <span class="unit">km</span></div>
          <div class="Humidity-summary">Average</div>
        </div>

        <div class="right-container-today-highlight-card">
          <div class="right-container-today-highlight-card-title">
            Air Quality
          </div>
          <div class="wind-status-value">{{weather.todaysHighlight.airQuality}}</div>

          <div class="Humidity-summary">Unhealthy</div>
        </div>
      </div>
    </div>

  </div>
</div>
