@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype"),
  url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-ThinItalic.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-Thin.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-SemiBoldItalic.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-MediumItalic.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-LightItalic.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-BlackItalic.ttf") format("truetype"),
  url("assets/fonts/Montserrat/static/Montserrat-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



*{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
